$primary_color: #03A9F4;
$primary_color_dark: #0288D1;
$primary_color_light: #B3E5FC;
$accent_color: #FFEB3B;
$primary_text: #212121;
$secondary_text: #757575;
$icon: #FFFFFF;
$divider: #BDBDBD;
