div(class="login-wrapper")
    md-card(class="login-card")
        md-card-title Login
        md-card-content
            form(class="login-form")            
                md-input-container(dividerColor="primary" class="login-full-width" floatPlaceholder="focus")
                    md-placeholder Username
                    input(mdInput)
                md-input-container(dividerColor="primary" class="login-full-width" floatPlaceholder="focus")
                    md-placeholder Password
                    input(type="password" mdInput)
                
        md-card-actions