div(class="login-wrapper")
    md-card
        md-card-title Login
        md-card-content
            form(class="login-form")            
                md-input-container(dividerColor="primary" class="login-full-width" floatPlaceholder="always")
                    md-placeholder Email
                    input(type="text" mdInput)
                md-input-container(dividerColor="primary" class="login-full-width" floatPlaceholder="always")
                    md-placeholder Password
                    input(type="password" mdInput)
                
        md-card-actions
            button(md-raised-button color="primary" class="login-full-width") Login
            div(class="login-links")
                a(routerLink="/register" class="pull-right" routerLinkActive="active") Not a Member Yet?
                a(routerLink="/forgot-password" class="pull-left" routerLinkActive="active") Forgot your Password?