div(class="registration-wrapper")
    md-card(class="registration-card")
        md-card-title Registration
        md-card-content
            form(class="registration-form")
                md-input-container(dividerColor="primary" class="registration-full-width" floatPlaceholder="always")
                    md-placeholder Email
                    input(mdInput)
                md-input-container(dividerColor="primary" class="registration-full-width" floatPlaceholder="always")
                    md-placeholder Password
                    input(type="password" mdInput)
                md-input-container(dividerColor="primary" class="registration-full-width" floatPlaceholder="always")
                    md-placeholder Re-Enter Password
                    input(type="password" mdInput)

        md-card-actions
            button(md-raised-button color="primary" class="registration-full-width" '(click)'="register()") Register