md-card
    md-card-content
        form(class="login-form")
            md-input-container(class="login-full-width")
                input(md-input placeholder="Username")
            md-input-container(class="login-full-width")
                input(md-input placeholder="Password")
    md-card-actions