md-toolbar(color="primary")
    span(class="fa-stack logo")
        i(class="fa fa-cloud fa-inverse fa-stack-2x")
        i(class="fa fa-cutlery fa-stack-1x")
    span(class="application") Food Forecast
    span(class="fill-remaining-space")
    div(class="router-links")
        a(routerLink="/home" color="accent" routerLinkActive="active")
            i(class="fa fa-home fa-2x")
        a(routerLink="/menuplan" color="accent" routerLinkActive="active")
            i(class="fa fa-calendar fa-2x")
        a(routerLink="/shoppinglist" color="accent" routerLinkActive="active")
            i(class="fa fa-shopping-basket fa-2x")