md-toolbar(color="primary")
    span Application
    span(class="fill-remaining-space")
    div(class="router-links")
        a(routerLink="/home" md-raised-button color="accent" routerLinkActive="active") Home
        a(routerLink="/bad-link" md-raised-button color="accent" routerLinkActive="active") Bad Link