.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.*/
    /*Every toolbar row uses a flexbox row layout.*/
    flex: 1 1 auto;
}

.router-links a:not(:last-child) {
    margin-right: 20px;
}

.application {
    font-weight: bold;
}

.logo {
    margin-right: 5px;

    .fa-cutlery {
        top: 2px;
        color: gainsboro;
    }
}

.router-links {
    a i {
        color: gainsboro;
    }

    a {
        text-decoration: none;
    }

    a.active i {
        color: whitesmoke;
    }
}

