@import "../../../../public/scss/variables.scss";

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.*/
    /*Every toolbar row uses a flexbox row layout.*/
    flex: 1 1 auto;
}

.router-links a:not(:last-child) {
    margin-right: 20px;
}

.application {
    margin-left: 60px;
    font-weight: bold;
    font-size: 36px;
}

.logo {
    height: 48px;
    position: absolute;
    clip: rect(1px,47px,47px,1px);
}

.router-links {
    a {
        font-size: 18px;
        color: white;
        background-color: $primary_color_dark;        
    }

    a i {
        margin-left: 8px;
        font-size: 20px;
        vertical-align: baseline;
    }

    a.active {
        color: $secondary_text;
        background-color: $accent_color;
    }
}

