md-toolbar(color="primary")
    img(class="logo" src="../../../../public/images/logo.png")
    span(class="application") Food Forecast
    span(class="fill-remaining-space")
    div(class="router-links")
        a(routerLink="/forecasts" md-raised-button color="primary" routerLinkActive="active") Forecasts
            i(class="fa fa-cloud")
        a(routerLink="/recipes" md-raised-button color="primary" routerLinkActive="active") Recipes
            i(class="fa fa-list-alt")
        a(routerLink="/shopping" md-raised-button color="primary" routerLinkActive="active") Shopping List
            i(class="fa fa-shopping-basket")
        a(routerLink="/login" class="logout" '(click)'="logout()")
            i(class="fa fa-sign-out")