md-toolbar(color="primary")
    img(class="logo" src="../../../../public/images/logo.png")
    span(class="application") Food Forecast
    span(class="fill-remaining-space")
    div(class="router-links")
        a(routerLink="/home" md-raised-button color="primary" routerLinkActive="active") Home
            i(class="fa fa-home")
        a(routerLink="/menuplan" md-raised-button color="primary" routerLinkActive="active") Menu Plan
            i(class="fa fa-calendar")
        a(routerLink="/shoppinglist" md-raised-button color="primary" routerLinkActive="active") Shopping List
            i(class="fa fa-shopping-basket")
        a(routerLink="/login" routerLinkActive="active" class="logout" '(click)'="logout()")
            i(class="fa fa-sign-out")